/* == Font Stuff == */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(chrome-extension://__MSG_@@extension_id__/fonts/roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body, 			/* Everything else not covered below */
input, button, select, 	/* All input types */
#topHolderBox, 			/* Username box */
#topHolderBox a,		/* Username box (for links) */
#formSearch,			/* Search Container */
#result_box, 			/* Results box for search */
#navcontainer a,		/* Navbar */
#tabmenucontainer a,	/* Subcontent */
#PinnedBoxTitle,		/* PinnedBox Titlebar */
#WelcomeBoxTitle,		/* WelcomeBox Titlebar */
.title,					/* Anime Titles */
.barTitle,				/* ContentBox Titlebar */
.scrollable_title,		/* LatestUpdate Titlebar */
.bigChar,				/* Anime titles for the most part */
.details,				/* Random Anime Banner*/
.specialButton			/* Comment Box Button */
{
	font-family: 'Roboto', Helvetica, sans-serif !important;
}

/* == Animations == */
/* https://codepen.io/alanshortis/pen/eJLVXr */
@-webkit-keyframes pulse {
	50% {
		background: white;
	}
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* == Loading Pulse == */
.loading-pulse {
	position: relative;
	width: 6px;
	height: 24px;
	background: rgba(255, 255, 255, 0.2);
	animation: pulse 750ms infinite;
	animation-delay: 250ms;
}
.loading-pulse:before, .loading-pulse:after {
	content: '';
	position: absolute;
	display: block;
	height: 16px;
	width: 6px;
	background: rgba(255, 255, 255, 0.2);
	top: 50%;
	-webkit-transform: translateY(-50%);
		  transform: translateY(-50%);
	-webkit-animation: pulse 750ms infinite;
		  animation: pulse 750ms infinite;
}
.loading-pulse:before {
	left: -12px;
}
.loading-pulse:after {
	left: 12px;
	-webkit-animation-delay: 500ms;
		  animation-delay: 500ms;
}
.loading-pulse-absolute {
	position: absolute !important;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* == Spin == */
.spin { animation: spin 0.6s infinite linear; }

/* == Scrollbars == */
html::-webkit-scrollbar, #divComments::-webkit-scrollbar {
	width: 11px;
	height: 11px;
}
html::-webkit-scrollbar-track, #divComments::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
	background: #1F1F1F;
}
html::-webkit-scrollbar-thumb, #divComments::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
    background: rgb(35, 35, 35);
	border: 1px solid grey;
}
html::-webkit-scrollbar-corner { background: rgb(22,22,22); }

/* == Tooltips == */
.tooltip {
	display:none;
	background: rgba(22, 22, 22, 0.9) !important;
    padding: 10px !important;
    height: auto !important;
	width:450px;
	font-size:11px;
	color:#dadada;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px black;
}

/* == Navbar == */
#navbar { background: #282728 !important; }
#navbar #currentTab { background: #548602 !important; }
#navbar a {
	margin-left: 1px;
	border-radius: 4px 4px 0px 0px;
	background: #a5a5a5 !important;
}
#navbar a:hover { background: #dedede !important; }
#navsubbar { background: #548602 !important; }

#navsubbar p {
	width: auto !important;
	padding-right: 150px !important;
	text-align: center !important;
}

/********** Content Boxes **********/
.barTitle, #PinnedBoxTitle, #WelcomeBoxTitle {
	background: #75b904 !important;
}
.arrow-general {
	background: none !important;
	display: block !important;
    width: 0 !important;
    height: 0 !important;
    border-bottom: 12px solid #75b904 !important;
    border-left: 12px solid transparent !important;
    top: -19px !important;
	left: 0px !important;
    position: relative !important;
    transform: rotate(45deg) !important;
}
#WelcomeBoxContent, #PinnedBoxContent, #recent-updates, .barContent {
	background: #111 !important
}
#WelcomeBox, #PinnedBox, .rightBox, .bigBarContainer, #subcontent {
	border-color: #111 !important; /* Not removing the border to prevent possibility breaking the layout */
}

/* Replaces the arrows in the Latest Update Box with nicer looking ones */
.prev, .prev:hover, .next, .next:hover {
	background: none !important;
	color: #484848;
}
.prev, .next {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}
.prev:before {
	content: "\e079";
}
.next:before {
	content: "\e080";
}

/********** Subcontent Tabs **********/
#tabmenucontainer { width: 390px !important; }
#tabmenucontainer .tabactive { background: #548602 !important; }
#tabmenucontainer a {
	margin-left: 2px;
	padding: 1px;
	border-radius: 4px 4px 0px 0px;
	background: #a3a3a3 !important;
}
#tabmenucontainer a:hover { background: #888888 !important; }

/* == Footer == */
#footer { background: #100f10 !important; }

/* Won't work unless I add disqus to the permissions list */
.post .author  [data-username="pilar6195"]:after {
	content: 'Essentials for KissAnime Dev';
    margin-left: 5px;
    color: red;
}

/* == Comment Box Button == */
.specialButton { border-radius: 2px !important; }

/* == Misc == */
select { height: 22px !important; }
input.text { background: #393939 !important; }

/* == FIXES == */

/* Here we're gonna fix the Ad Positions since KissAnime fucked this up too... */
#adsIfrme1 + .divCloseBut,
#adsIfrme3 + .divCloseBut,
#adsIfrme6 + .divCloseBut,
#adsIfrme7 + .divCloseBut,
#adsIfrme8 + .divCloseBut,
#adsIfrme10 + .divCloseBut {
	position: relative !important;
	display: inline-block;
	top: 15px !important;
}
#adsIfrme1 + .divCloseBut,
#adsIfrme6 + .divCloseBut,
#adsIfrme8 + .divCloseBut {
	/* left: -300px !important; */
	left: -170px !important;
}
#adsIfrme3 + .divCloseBut {
	/* left: -160px !important; */
	left: -95px !important;
	margin-bottom: 15px;
}
#adsIfrme7 + .divCloseBut {
	/* left: -815px !important; */
	left: -425px !important;
}
#adsIfrme10 + .divCloseBut {
	/* left: -725px !important; */
	left: -380px !important;
}
#adsIfrme11 + .divCloseBut {
	left: 60px !important;
}